@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

























#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #2c2c2c;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 13px;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#header4-2 H1 {
  font-family: 'Droid Serif', serif;
  color: #efefef;
}
#header4-2 .btn {
  font-family: 'Indie Flower', cursive;
}
#header4-2 P {
  font-family: 'Indie Flower', cursive;
}
#header4-2 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 36px;
}
#slider-d H1 {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
}
#slider-d .btn {
  font-family: 'Indie Flower', cursive;
}
#slider-d P {
  font-family: 'Indie Flower', cursive;
}
#instagram-feed-block-u .inst__title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-h .mbr-header__text {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#msg-box5-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-h .mbr-article {
  color: #ffffff;
}
#msg-box5-h .btn {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-h .mbr-article P {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-h .mbr-header__text SPAN {
  font-family: 'Droid Serif', serif;
}
#pricing-table1-q SPAN {
  font-size: 24px;
  font-family: 'Indie Flower', cursive;
}
#pricing-table1-q SUP {
  font-family: 'Indie Flower', cursive;
}
#pricing-table1-q .mbr-plan__details {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#pricing-table1-q H3 {
  font-family: 'Indie Flower', cursive;
  color: #ffffff;
}
#pricing-table1-q .btn {
  font-family: 'Indie Flower', cursive;
}
#pricing-table1-q DIV {
  font-family: 'Indie Flower', cursive;
}
#features1-t .btn {
  font-family: 'Indie Flower', cursive;
}
#features1-t .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-t P {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#features1-t .mbr-section-title .mbr-header__text {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
}
#form1-r .mbr-header__text {
  font-family: 'Droid Serif', serif;
}
#form1-r .mbr-header__text SPAN {
  font-size: 20px;
}
#social-buttons2-n .mbr-header__text {
  font-size: 16px;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}





#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #2c2c2c;
}
#menu-9 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 13px;
}
#menu-9 .mbr-navbar__items a {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-a .mbr-header__text {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}
#msg-box5-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-a .mbr-article {
  color: #ffffff;
}
#msg-box5-a .btn {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-a .mbr-article P {
  font-family: 'Indie Flower', cursive;
}
